body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #64C88C;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-title {
    text-align: center;
    color: #333;
    font-size: 24px;
}

.input-group {
    margin: 10px 0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #00EFFF;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.forgot-link, .signup-link {
    text-align: center;
    margin-top: 12px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.social-login a img {
    width: 45px;
}

a {
    color: black;
}
