<!DOCTYPE html>
<html lang="vi">

<body>
    <!-- Start of the header -->
    <header>
        <div class="inner">
            <div class="logo">
                <img src="assets/logo-removebg.png" alt="Google logo">
                <!-- <h1>My Logo</h1> -->
            </div>
            <h1 class="site-title">CAO THỦ CẦU LÔNG</h1>
            <nav>
                <div class="logo-search">
                    <input type="text" placeholder="Search">
                    <button class="search-button">
                        <img src="assets/search_logo.png" alt="Search">
                    </button>
                </div>
                <ul>
                    <li><a href="" class="buttonLogin">ĐẶT SÂN</a></li>
                    <li><a href="" class="buttonLogin">CỬA HÀNG DỤNG CỤ</a></li>
                    <li><a href="" class="buttonRegister">ĐĂNG NHẬP / ĐĂNG KÝ</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- End of the header -->
    <body>
    <!-- Start of the court details -->
    <div class="court-container">
        <div class="image-section">
            <img src="assets/Old_Trafford.jpg" alt="Image">
            <img src="assets/Old_Trafford_2.jpg" alt="Image">
            <img src="assets/Old_Trafford_3.jpg" alt="Image">
            <!-- Thêm nhiều ảnh tùy thích -->
        </div>
        <div class="details-section">
            <p class="court-id">ID: 12345</p>
            <h1 class="court-name">Sân bóng đá A</h1>
            <a href="#" class="court-cat">Sân bóng đá</a>
            <p class="description">Mô tả: Sân bóng đá A có kích thước tiêu chuẩn, mặt cỏ nhân tạo chất lượng cao, hệ thống chiếu sáng đầy đủ và tiện nghi hiện đại. Phù hợp cho các trận đấu giao hữu và luyện tập.</p>
            <p class="price">Giá thuê mỗi giờ: 200,000 VND</p>
            <a href="#" class="button-reserve">Đặt sân</a>
        </div>
    </div>
    <!-- End of the court details -->
    </body>
    <!-- Start of the footer -->

</body>
</html>
