.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navigation,
.date-picker {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

.date-picker input:hover{
    cursor: pointer;
}

.session-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 15%;
}

.session-navigation button {
    margin: 8px;
    background-color: #7e8d8a;
}

.session-navigation button.active {
    background-color: #00796b;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
}

.booking-table th,
.booking-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

.booking-table th {
    background-color: #f4f4f4;
}

.day {
    background-color: #f4f4f4;
    font-weight: bold;
    width: 80px;
}

.time-slot {
    background-color: #e6f2ff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-slot:hover {
    background-color: #d0e7ff;
}

.time-slot.past {
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
}

.selected {
    background-color: #00796b;
    color: #fff;
}

.time-slot.selected {
    background-color: #007bff;
    color: #fff;
}

#selected-time {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

button {
    margin: 0 16px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00b395;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.field-details-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.field-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.court-id {
    font-size: 14px;
    color: #555;
}

.court-name {
    font-size: 24px;
    color: #222;
    margin: 0;
}

.court-cat {
    font-size: 18px;
    color: #ff6347;
    text-decoration: none;
}

.description {
    font-size: 16px;
    color: #333;
}

.price {
    font-size: 18px;
    color: #d9534f;
}

.price-amount {
    font-weight: bold;
}

.button-reserve {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-reserve:hover {
    background-color: #4cae4c;
}