.App {
  text-align: center;
}

/* Default styles for the browser */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif', serif;
  background-color: #e0f7fa;
  /* Màu xanh nhạt */
  min-height: 100vh;
  color: #333;
}

.Toastify__close-button--light {
  width: 20px !important;
}

.Toastify__toast-container--top-right {
  margin-top: 100px !important;
}

ul {
  display: flex;
}

li {
  padding: 0 10px;
}

/* LOGIN */
/* LOGIN */
.login-area,
.register-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-area {
  height: 88vh;
}

.register-area {
  height: 100vh;
}

.login-container {
  background-color: #004d40;
  color: #fff;
  width: 90%;
  max-width: 480px;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.login-button {
  background-color: #00796b;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 12px;
}

.input-group {
  margin: 10px 0;
  color: #000;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.eye-icon {
  position: absolute;
  margin-left: -32px;
  margin-top: 20px;
}

button {
  background-color: #00EFFF;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.forgot-link,
.signup-link {
  text-align: center;
  margin-top: 12px;
}

/* HEADER */
header {
  width: 100vw;
  height: 100px;
  /* Tăng chiều cao của header */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  /* Màu xám nhẹ cho border */
  background-color: #4c7277;
  /* Màu nền xanh đặc trưng */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Thêm shadow nhẹ */
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .inner {
  width: 100%;
  max-width: 1200px;
  /* Đặt max-width cho header */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* Giảm padding */
  margin: 0 auto;
}

header .logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

header .logo img {
  height: 60px;
  /* Tăng chiều cao của logo */
  margin-right: 10px;
  /* Giảm khoảng cách giữa logo và tên trang web */
}

header .site-title {
  font-size: 28px;
  /* Giảm kích thước font */
  font-weight: bold;
  color: #ffffff;
  /* Màu trắng cho tên trang web */
  text-transform: uppercase;
  margin: 0;
  flex: 1;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav li {
  margin-left: 10px;
  /* Giảm khoảng cách giữa các nút */
  margin-right: -16px;
}

header nav a {
  color: #ffffff;
  background-color: #00796b;
  /* Màu nền mặc định cho các nút */
  padding: 16px 24px;
  /* Tăng padding */
  border-radius: 5px;
  /* Đặt góc bo tròn cho các nút */
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 12px 0;
}

header nav a:hover {
  background-color: #00b395;
  /* Thay đổi màu nền khi di chuột */
  transform: scale(1.1);
  /* Phóng to nhẹ khi di chuột */
  cursor: pointer;
}

header nav .buttonRegister {
  background-color: #ff6f61;
  /* Màu nền của nút đăng ký */
}

header nav .buttonRegister:hover {
  background-color: #e44438;
  /* Thay đổi màu nền khi di chuột */
}

header .cart-button {
  background-color: #00796b;
  padding: 8px 12px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 90px;
}

header .cart-button:hover {
  background-color: #00b395;
  /* Thay đổi màu nền khi di chuột */
  transform: scale(1.03);
  /* Phóng to nhẹ khi di chuột */
  cursor: pointer;
}

header .cart-icon {
  width: 32px;
  height: 32px;
}

header .cart-count {
  background-color: #ff6f61;
  color: #ffffff;
  font-size: 12px;
  border-radius: 50%;
  padding: 4px 8px;
  position: absolute;
  top: -10px;
  right: -10px;
}


/* CATEGORY LIST */
.admin-container{
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  /* padding: 10px 10px 10px 10px; */
  
  border: 1px #004d40 solid;
  border-radius: 6px;
}

.category-admin-header {
  width: 100%;
  height: 4rem;
  display: flex;
  background-color: #004d40;
  color: #ddd;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 5px 0 0;
}

.category-admin-header-prop {
  width: 100%;
}



.category-admin-list ul {
  display:inline;
  width: 100%;

}

.category-props {
  width: 100%;
  height: 3rem;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  border: #333 2px solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.category-info {
  width: 80%;
  padding: 0 10px;
  display: flex;
  /* max-height: 50%; */
}

.category-info div {
  width: 60%;
  min-width: 10%;
  padding: 0 10px;
  border-right: 1px solid #333;
  /* max-height: 50%; */
}

/* Button render */
.manipulate-buttons {
  display: flex;

  width: 20%;
}

.new-section {
  width: calc(10% + 10px);
  display: flex;
}

.button{
  color: #fff;
  border-radius: 5px; 
  text-align: center;
  justify-content: center;
}


.new {
  width: calc(90% - 5px);
  height: 80%;
  margin-left: -5px;
  background-color: #00796b;
}

.new:hover {
  background-color: #00b395;
}

.modify {
  width: 45%;
  height: 80%;
  background-color: #00796b;
  margin-right: 5px;
}

.modify:hover {
  background-color: #00b395;
}

.delete {
  width: 45%;
  height: 80%;
  background-color: #ff6f61;
}

.delete:hover {
  background-color: #e44438;
}

/* HOME */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(135deg, #00796b, #f79); /* Gradient background */
  padding: 20px;
  box-sizing: border-box;
}

/* Welcome box styles */
.welcome-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
  text-align: center;
  max-width: 500px;
  width: 100%;
}

/* Welcome title styles */
.welcome-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

/* Welcome text styles */
.welcome-text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
}

/* SIDEBAR */
.sidebar {
  /* margin: 0; */
  /* padding: 0; */
  text-decoration: none;
}

.sidebar.container {
  display: flex;
  max-width: 100%;
  /* width: 100%; */
}

main {
  width: 100%;
  padding: 0px;
}

.sidebar.index {
  width: 14%;
  background: #e0f7fa;
  color: #333;
  height: 100vh;
}

.sidebar.name-link {
  width: 90%;
  display: flex;
  color: #ffffff;
  background-color: #00796b;
  padding: 10px 15px;
  margin: 30px 1% 30px 0;
  border-radius: 0 5px 5px 0;
  gap: 15px;
  transition: all 0.5s;
}

.sidebar.name-link:hover {
  background-color: #00b395;
  color: #333;
}

/* CATEGORY ADD */
.category-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.category-form form {
  display: flex;
  flex-direction: column;
}

.category-form div {
  margin-bottom: 15px;
}

.category-form input[type="text"],
.category-form input[type="file"],
.category-form input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.category-form input[type="checkbox"] {
  width: auto;
  margin-top: 0;
  transform: scale(1.5);
  margin-right: 10px;
}

.category-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-form button:hover {
  background-color: #0056b3;
}

.category-form .file-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-form .file-input label {
  margin-right: 10px;
}

.category-form .checkbox-group {
  display: flex;
  align-items: center;
}

/* CONFIRM DELETE  */
.confirmation-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirmation-message {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.confirmation-actions {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.button.no {
  background-color: #ccc;
  color: #333;
}

.button.yes {
  background-color: #007bff;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
}

/* ALLOW NOTIFICATIONS MODAL */
/* Modal overlay */
.noti-modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
}

/* Modal content box */
.noti-modal-content {
  background-color: white;
  margin: 15% auto; /* Align vertically */
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
  position: relative;
}

/* Close button */
.noti-modal-content .close {
  color: #aaa;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.noti-modal-content .close:hover,
.noti-modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal actions (buttons) */
.noti-modal-actions {
  margin-top: 20px;
}

.noti-modal-content h1 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 8px;
}

/* Common button styles */
.noti-modal-actions .btn {
  padding: 10px 20px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background transition */
  font-size: 16px;
}

/* Allow button */
.noti-modal-actions .allow-btn {
  background-color: #4CAF50;
  color: white;
}

.noti-modal-actions .allow-btn:hover {
  background-color: #45a049;
}

/* Deny button */
.noti-modal-actions .deny-btn {
  background-color: #f44336;
  color: white;
}

.noti-modal-actions .deny-btn:hover {
  background-color: #e53935;
}

/* LOADING SPINNER */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #00b395;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}